<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>{{ chamber }} Bills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawAllCharts);

      function drawBarChart() {

        var jsonData = $.ajax({
          url: "{{ url_for('static', filename= chamber + '_numbers_gchart.json') }}",
          dataType:"json",
          async: false
          }).responseText;

        var data = new google.visualization.DataTable(jsonData);

        var options = {
          title: 'Number of Bills Passing Each Stage',
          vAxis: {title: 'Leg Stage',  titleTextStyle: {color: 'black'}},
          isStacked: true,
        };

        var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));
        chart.draw(data, options);
      };

      function drawLineChart() {

        var jsonData = $.ajax({
          url: "{{ url_for('static', filename= chamber + '_avgs_gchart.json') }}",
          dataType:"json",
          async: false
          }).responseText;

        var data = new google.visualization.DataTable(jsonData);

        var options = {
          title: 'Average BIll Duration Per Stage',
          vAxis: {title: 'Avg Num Days',  titleTextStyle: {color: 'black'}}
        };

        var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
        chart.draw(data, options);
      };

      function drawAllCharts() {
        drawBarChart();
        drawLineChart();
      };

    </script>
  </head>
  <body>

    <div id="title">{{ chamber.upper() }} BILLS</div>
    <div id="link">
      
      {% if chamber == 'House' %}
        <a href="/Senate">Go to Senate</a>
      {% else %}
        <a href="/House">Go to House</a>
      {% endif %}

    </div>
    <div id="bar_chart" style="width: 1200px; height: 500px;"></div>
    <div id="line_chart" style="width: 1200px; height: 500px;"></div>

  </body>
</html>